<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HQCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HQCommon.Properties.Settings.ServerHedgeQuantConnectionString"
            connectionString="Server=tcp:o81ehksdym.database.windows.net;Database=HedgeQuant;User ID=HQServer@o81ehksdym;Password=H667QServer;Trusted_Connection=False;Encrypt=True;Connection Timeout=600;"
            providerName="System.Data.SqlClient" />
        <add name="HQCommon.Properties.Settings.ClientHedgeQuantConnectionString"
            connectionString="Data Source=|DataDirectory|\HedgeQuant.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="HQCommon.Properties.Settings.LocalServerHedgeQuantConnectionString"
            connectionString="server=(local),1504;database=HedgeQuant;UID=sa; PWD='mozaikutca006'"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <HQCommon.Properties.Settings>
            <setting name="SqOfflineDbFilesUrlPathOnly" serializeAs="String">
                <value>/public/OfflineDBFiles/</value>
            </setting>
            <setting name="SqOfflineDbFilesUrlTimeZoneID" serializeAs="String">
                <value>GMT</value>
            </setting>
            <setting name="SqlNTryDefault" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EmailSenderForUsers" serializeAs="String">
                <value>hedgequantserver@hqavm1.cloudapp.com</value>
            </setting>
            <setting name="EmailAddressGyantal" serializeAs="String">
                <value>gyantal@gmail.com</value>
            </setting>
            <setting name="EmailAddressRobin" serializeAs="String">
                <value>meszaros.robert4@gmail.com</value>
            </setting>
            <setting name="EmailAddressCharmat" serializeAs="String">
                <value>drcharmat@yahoo.com</value>
            </setting>
            <setting name="EmailAddressCharmat2" serializeAs="String">
                <value>drcharmat2@gmail.com</value>
            </setting>
            <setting name="EmailAddressJeanCharmat" serializeAs="String">
                <value>jmcharmat@yahoo.com</value>
            </setting>
            <setting name="EmailAddressLNemeth" serializeAs="String">
                <value>laszlo.nemeth.hu@gmail.com</value>
            </setting>
            <setting name="EmailAddressBLukucz" serializeAs="String">
                <value>blukucz@gmail.com</value>
            </setting>
            <setting name="SmsNumberGyantalUK" serializeAs="String">
                <value>447787069129</value>
            </setting>
            <setting name="SmsNumberGyantalHU" serializeAs="String">
                <value>36203491806</value>
            </setting>
            <setting name="SmsNumberCharmat" serializeAs="String">
                <value>447795347979</value>
            </setting>
            <setting name="SmsNumberLNemeth" serializeAs="String">
                <value>36203210211</value>
            </setting>
            <setting name="SmsNumberBLukucz" serializeAs="String">
                <value>36705705467</value>
            </setting>
        </HQCommon.Properties.Settings>
    </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
