<table id="inputTable" ng-show="selectedStrategyMenuItemId === 'idMenuItemLETFDiscrepancy1' || selectedStrategyMenuItemId === 'idMenuItemLETFDiscrepancy2' || selectedStrategyMenuItemId === 'idMenuItemLETFDiscrepancy3'">
    <colgroup>
        <col class="column1" />
        <col class="column2" />
    </colgroup>
    <thead>
        <tr>
            <th>Selected ETF pair</th>
            <th>Rebalancing Frequency<br />"5d"-5days,"2w"-2weeks,"6m"-6months</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><select ng-model="selectedEtfPairs" ng-options="opt as opt for opt in etfPairs" ng-change="etfPairsChanged()"></select></td>
            <td><input type="text" ng-model="rebalancingFrequency" /></td>
        </tr>
    </tbody>
</table>