<!DOCTYPE html>
<html ng-app="DifferentMonthsApp">

<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--Also, keep in mind that unless you're serving your pages as application/xhtml+xml -- which virtually no one actually is -- then you're not actually using XHTML. It doesn't matter even if your doctype says XHTML. If you serve it as text/html, then the browser is treating it as plain old HTML, and all those self-closing slashes aren't really doing anything at all.-->
<!--However, XHTML never really caught on. Professional developers (especially those who were integrating programming languages like JavaScript and PHP into their web projects) loved XHTML Strict but it was a little too unforgiving for most developers, and the vast majority of pages never bothered to validate to the new standards. When the time came to devise a new standard, the W3C (World Wide Web Consortium) decided to support HTML5 rather than XHTML 2.-->

<head>
    <title>Volatility Indices in Different Months</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
    <script type="text/javascript" src="VolatilityIndicesInDifferentMonths.js"></script>
    <!--The current state-of-the-art is to put scripts in the Head tag and use the async or defer attributes.-->
    <!--We need Angular to work, don't use anything; wait until it is downloaded.  defer was not good either, because execution went through and Browser showed the curly brackets -->
    <!--Assuming the CDN provider has an https version, you can use protocol-relative URLs.
    For example, instead of:
    http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js
    ...you can use:
    //ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js
    The browser will use the page's protocol to try to obtain the file. On non-secure pages, http. On secure pages, https.-->




    <style type="text/css">
        h2 {
            font-size: 16pt;
            text-align: center;
        }

         .labelStyle {
            /*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;*/
            font-size: 12pt;
            color: #0000ff;
            padding-top: 10px;
            padding-bottom: 3px;
            display: inline;
        }
    </style>

</head>
<body ng-controller="DifferentMonthsCtrl">

    <h2> Volatility Indices in Different Months</h2>


    <!--<input type="text" ng-model="sometext" />
    <span>
        Hello {{sometext;}}
    </span>-->


    <select ng-model="selectedMonth" ng-options="opt as opt for opt in months" ng-init="selectedMonth='December'" ng-change="monthChanged()"></select>
    <h3>Selected Month : <span class="labelStyle">{{selectedMonth}}</span> </h3>

    
    Calculated field: <span class="labelStyle"> {{calculatedField}}</span>
</body>
</html>
